@font-face {
  font-family: "cdutBlog"; /* Project id 3946270 */
  src: url('//at.alicdn.com/t/c/font_3946270_t1sr3kt7u5b.woff2?t=1678533564797') format('woff2'),
       url('//at.alicdn.com/t/c/font_3946270_t1sr3kt7u5b.woff?t=1678533564797') format('woff'),
       url('//at.alicdn.com/t/c/font_3946270_t1sr3kt7u5b.ttf?t=1678533564797') format('truetype');
}

.cdutBlog {
  font-family: "cdutBlog" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cdutBlog-gengduo:before {
  content: "\e603";
}

.cdutBlog-shoucang:before {
  content: "\e604";
}

.cdutBlog-fenxiang:before {
  content: "\e605";
}

.cdutBlog-guanbi:before {
  content: "\e606";
}

.cdutBlog-dianzan:before {
  content: "\e607";
}

.cdutBlog-pinglun:before {
  content: "\e608";
}

.cdutBlog-sousuo:before {
  content: "\e609";
}

.cdutBlog-shanchu:before {
  content: "\e60a";
}

.cdutBlog-lishi:before {
  content: "\e60b";
}

.cdutBlog-shouye:before {
  content: "\e60c";
}

.cdutBlog-yanzhengma:before {
  content: "\e60d";
}

.cdutBlog-youjiantou:before {
  content: "\e60e";
}

.cdutBlog-dianzan2:before {
  content: "\e60f";
}

.cdutBlog-shouji:before {
  content: "\e610";
}

.cdutBlog-zuojiantou:before {
  content: "\e611";
}

.cdutBlog-wode:before {
  content: "\e612";
}

.cdutBlog-wenda:before {
  content: "\e613";
}

.cdutBlog-wuwangluo:before {
  content: "\e614";
}

.cdutBlog-shipin:before {
  content: "\e615";
}

.cdutBlog-yuedu:before {
  content: "\e616";
}

.cdutBlog-zuopin:before {
  content: "\e617";
}
